!!! 5
%html
  .features
    .head
      FURIMAの特徴
      .head::after
      
    .items
      .item
        =image_tag 'icon-01.png', class: "item__img"
        .item__subtitle 簡単に売り買いできる
        %p.item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！

      .item
        =image_tag 'icon-03.png', class: "item__img"
        .item__subtitle 
          売上金は即日振り込みに対応
        %p.item__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .item
        =image_tag 'icon-04.png', class: "item__img"
        .item__subtitle 
          様々な支払いに対応
        %p.item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
    
  .pickupcategory
    .head
      ピックアップカテゴリー
    .productbox
      .newproducts
        .title
          新規投稿商品
      .productlists
        .productlist
          .productlist--img
            =image_tag 'IMG_01.jpeg', :size =>'220', class: "img"
          .productlist--body
            .name
              aaa
            .details
              %ul
                %li 1000円
                %li
                  = icon('fa', 'star', class: 'star')
                  0
              %p (税込)
        .productlist
          .productlist--img
            =image_tag 'IMG_02.png', :size =>'220', class: "img"
          .productlist--body
            .name
              bbb
            .details
              %ul
                %li 1000円
                %li
                  = icon('fa', 'star', class: 'star')
                  0
              %p (税込)
        .productlist
          .productlist--img
            =image_tag 'IMG_03.png', :size =>'220', class: "img"
          .productlist--body
            .name
              ccc
            .details
              %ul
                %li 1000円
                %li
                  = icon('fa', 'star', class: 'star')
                  0
              %p (税込)
        .productlist
          .productlist--img
            =image_tag 'IMG_04.png', :size =>'220', class: "img"
          .productlist--body
            .name
              ddd
            .details
              %ul
                %li 1000円
                %li
                  = icon('fa', 'star', class: 'star')
                  0
              %p (税込)
  .pickupcategory
    .head
      ピックアップブランド
    .productbox
      .newproducts
        .title
          アーカイバ
      .productlists
        .productlist
          .productlist--img
            =image_tag 'IMG_01.jpeg', :size =>'220', class: "img"
          .productlist--body
            .name
              aaa
            .details
              %ul
                %li 1000円
                %li
                  = icon('fa', 'star', class: 'star')
                  0
              %p (税込)
        .productlist
          .productlist--img
            =image_tag 'IMG_02.png', :size =>'220', class: "img"
          .productlist--body
            .name
              bbb
            .details
              %ul
                %li 1000円
                %li
                  = icon('fa', 'star', class: 'star')
                  0
              %p (税込)
        .productlist
          .productlist--img
            =image_tag 'IMG_03.png', :size =>'220', class: "img"
          .productlist--body
            .name
              ccc
            .details
              %ul
                %li 1000円
                %li
                  = icon('fa', 'star', class: 'star')
                  0
              %p (税込)
        .productlist
          .productlist--img
            =image_tag 'IMG_04.png', :size =>'220', class: "img"
          .productlist--body
            .name
              ddd
            .details
              %ul
                %li 1000円
                %li
                  = icon('fa', 'star', class: 'star')
                  0
              %p (税込)
.appbanner
  .inner
    .inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text
      今すぐ無料ダウンロード！
    .inner__banner
      = link_to "#" do
        = image_tag "app-store.svg", class: "appstore-icon"
      = link_to "#" do
        = image_tag "google-play.svg", class: "googleplay-icon"
.footer
  %ul.contents
    %li.content
      .content__head
        FURIMAについて
      %ul
        %li=link_to "会社概要（運営会社）"
        %li=link_to "プライバシーポリシー"
        %li=link_to "FURIMA利用規約"
        %li=link_to "ポイントに関する特約"
    %li.content
      .content__head
        FURIMAを見る
      %ul
        %li=link_to "カテゴリ一覧"
        %li=link_to "プライバシーポリシー"
    %li.content
      .content__head
        ヘルプ&ガイド
      %ul
        %li=link_to "FURIMAガイド"
        %li=link_to "FURIMAロゴ利用ガイドライン"
        %li=link_to "お知らせ"
  .footer__logo
    = link_to "/" do 
      = image_tag "/assets/logo-white.png"
    %p
      © FURIMA
= link_to "#" do
  .exhibit-btn
    %span.exhibit-btn__text
      出品する
    = image_tag "/assets/icon_camera.png", class:"exibit-btn__icon"
